@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --card-gray: lightgray;
    --card-background: #a2a2a2;
    --form-width: 315px;
    --form-height: calc(var(--form-width)* 2 / 3)
}

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set styles for header */
header {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 1px -7px 17px 6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px -7px 17px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -7px 17px 6px rgba(0, 0, 0, 0.75);
}

header h1 {
    font-family: Roboto;
    font-size: 24px;
}

header button {
    font-family: Roboto;
    font-size: 20px;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: none;
}

/* Set styles for main sections */
main {
    min-height: 84vh;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.featured-books {
    display: flex;
    flex-wrap: wrap;
}

.featured-books>div {
    background-color: var(--card-background);
    border: 3px solid var(--card-gray);
}

.add-book {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    height: 260px;
    width: 160px;
}

#add-button {
    width: 50px;
    height: 50px;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
    height: 260px;
    width: 160px;
}

.book-card>.remove {
    margin: 5px;
    display: flex;
    justify-content: end;
}

.remove>button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
}

.close-form {
    position: absolute;
    top: 2%;
    right: 1%;
    cursor: pointer;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.book-card>.titles {
    margin-bottom: 30px;
}

/* Set styles for footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.form.active {
    display: flex;
    position: absolute;
    top: 0%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.form {
    display: none;
}

form {
    font-family: Roboto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: var(--form-width);
    background-color: white;
}

form>div {
    display: flex;
    justify-content: flex-start;
    width: 235px;
    margin: 5px;
}

form>button {
    width: 230px;
    height: 25px;
}

form>h3 {
    text-align: center;
    margin-bottom: 10px;
}

form > p {
    font-size: 11px;
    height: 16px;
    margin-bottom: 7px;
    color: red;
}

label {
    font-weight: 500;
    display: inline-block;
    width: 50px;
}